<?xml version="1.0"?>
<config>
  <modules>
    <Magpieinfotech_Volunteers>
      <version>0.1.0</version>
    </Magpieinfotech_Volunteers>
  </modules>
  <frontend>
    <routers>
      <volunteers>
        <use>standard</use>
          <args>
            <module>Magpieinfotech_Volunteers</module>
            <frontName>volunteers</frontName>
          </args>
      </volunteers>
    </routers>
		<layout>
		  <updates>
			<volunteers>
			  <file>volunteers.xml</file>
			</volunteers>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <volunteers>
        <class>Magpieinfotech_Volunteers_Helper</class>
      </volunteers>
    </helpers>
	<blocks>
	  <volunteers>
		<class>Magpieinfotech_Volunteers_Block</class>
	  </volunteers>
	</blocks>
	<models>
	  <volunteers>
		<class>Magpieinfotech_Volunteers_Model</class>
		<resourceModel>volunteers_mysql4</resourceModel>
	  </volunteers>
	  <volunteers_mysql4>
		<class>Magpieinfotech_Volunteers_Model_Mysql4</class>
		<entities>		  
			  <volunteers>
				<table>volunteers</table>
			  </volunteers>
        </entities>
	  </volunteers_mysql4>
	</models>
	<resources>
	  <volunteers_setup>
		<setup>
		  <module>Magpieinfotech_Volunteers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </volunteers_setup>
	  <volunteers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </volunteers_write>
	  <volunteers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </volunteers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <volunteers>
	    <use>admin</use>
		<args>
		  <module>Magpieinfotech_Volunteers</module>
		  <frontName>admin_volunteers</frontName>
		</args>
	  </volunteers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <volunteers module="volunteers">
		<title>Volunteers</title>
		<sort_order>100</sort_order>
		<children>
		  <volunteers module="volunteers">
		    <title>Manage Volunteers</title>
			<sort_order>0</sort_order>
			<action>admin_volunteers/adminhtml_volunteers</action>
		  </volunteers>
		</children>
	  </volunteers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<volunteers translate="title" module="volunteers">
			  <title>Volunteers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <volunteers translate="title">
			<title>Manage Volunteers</title>
			<sort_order>0</sort_order>
		  </volunteers>
			  </children>
			</volunteers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<volunteers>
		  <file>volunteers.xml</file>
		</volunteers>
	  </updates>
	</layout>
  </adminhtml>
</config> 